<div class="form-group">
  <label for="temperature_low" class="control-label">Temperature Low</label>
  <input class="form-control" type="text" id="temperature_low_input" name="temperature_low" placeholder="Enter low temperature...">
  <span class="help-block hidden"></span>
</div>
<div class="form-group">
  <label for="temperature_hi" class="control-label">Temperature Hi</label>
  <input class="form-control" type="text" id="temperature_hi_input" name="temperature_hi" placeholder="Enter hi temperature...">
  <span class="help-block hidden"></span>
</div>
<div class="form-group">
  <label for="dew_point" class="control-label">Dew Point</label>
  <input class="form-control" type="text" id="dew_point_input" name="dew_point" placeholder="Enter dew point...">
  <span class="help-block hidden"></span>
</div>
<div class="form-group">
  <label for="humidity" class="control-label">Humidity</label>
  <input class="form-control" type="text" id="humidity_input" name="humidity" placeholder="Enter humidity...">
  <span class="help-block hidden"></span>
</div> 
<div class="form-group">
  <label for="dates" class="control-label">Date</label>
  <input class="form-control" type="text" id="dates_input" name="dates" placeholder="Enter date...">
  <span class="help-block hidden"></span>
</div> 
<button class="btn btn-inverse btn-block submit-button">Submit</button>
<button class="btn btn-inverse btn-block cancel-button">Cancel</button>
