<div class="panel-heading">
</div>
<div class='panel-body container-fluid' id='wrapper'>
    <button id="new-entry-button" class="btn btn-inverse btn-block">Click to Enter Data</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="table-header">Date</th>
        <th class="table-header" style="color:blue">Low</th>
        <th class="table-header" style='color:red'>Hi</th>
        <th class="table-header" style="color:green">Humidity</th>
        <th class="table-header" style="color:steelblue">Dew Point</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>